.questions-container {
  height: 80vh;
  width: 40%;
  border: 2px solid black;
  overflow: hidden;
}

.reAsk-button {
  width: 100%;
  height: 15%;
  font-size: 3vw;
  background-color: cornflowerblue;
  color: white;
  outline: none;
}

.reAsk-button:hover {
  background: royalblue;
}
