<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> reAsk </title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  </head>

  <body>

    <div class='page-container'>

      <div class='ask-question-modal'>
        <header>Ask a Question!</header>
      </div>

      <div class='cover-the-page'></div>


      <header>reAsk</header>

      <div class='content-wrapper'>
        <div class='left-side-container'>
          <button class='reAsk-button'>reAsk Something!</button>
          <div class='questions'>
            <div class='question'>React help!!</div>
            <div class='question'>How do i do this?</div>
            <div class='question'>asdf</div>
            <div class='question'>asdf</div>
            <div class='question'>asdf</div>
            <div class='question'>asdf</div>
            <div class='question'>asdf</div>
            <div class='question'>asdf</div>
            <div class='question'>asdf</div>
            <div class='question'>asdf</div>
            <div class='question'>asdf</div>
            <div class='question'>asdf</div>
          </div>
        </div>
        <div class='right-side'></div>
      </div>

    </div> <!-- page container -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="scripts.js"></script>

  </body>

</html>
