<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> reAsk </title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  </head>

  <body>

    <div class='page-container'>

      <div class='ask-question-modal'>
        <header>Ask a Question!</header>

        <div class='input-question-container'>

          <div class='input-title'>
            <p>Title</p>
            <textarea id='title' rows="1" cols="70" placeholder="TLDR of your question!"></textarea>
          </div>
          <div class='input-question'>
            <p>Question</p>
            <textarea id='question' rows="22" cols="70" placeholder="Write your question here!"></textarea>
          </div>
          <div class='input-tags'>
            <p>Tags</p>
            <textarea id='tags' rows="1" cols="70" placeholder="Separate each tag with a comma and a space!"></textarea>
          </div>

        </div> <!-- input question container -->

        <div class='button-container'>
          <button class='cancel-question-btn'>I changed my mind...</button>
          <button class='ask-question-btn'>Ask away!</button>
        </div> <!-- button container -->
      </div> <!-- ask-question-modal -->

      <div class='cover-the-page'></div>


      <header>reAsk</header>

      <div class='content-wrapper'>
        <div class='questions-container'>
          <button class='reAsk-button'>reAsk Something!</button>
          <div class='questions'>
            <div class='question'>
              <h3>How do you make flexbox work</h3>
              <p>I kept trying over and over and shit just dont work fam</p>
              <p>tags: HTML, CSS, Flexbox</p>
            </div>
            <div class='question'>
              <h3>How do you make flexbox work</h3>
              <p>I kept trying over and over and shit just dont work fam</p>
              <p>tags: HTML, CSS, Flexbox</p>
            </div>
            <div class='question'>
              <h3>How do you make flexbox work</h3>
              <p>I kept trying over and over and shit just dont work fam</p>
              <p>tags: HTML, CSS, Flexbox</p>
            </div>
            <div class='question'>
              <h3>How do you make flexbox work</h3>
              <p>I kept trying over and over and shit just dont work fam</p>
              <p>tags: HTML, CSS, Flexbox</p>
            </div>
            <div class='question'>
              <h3>How do you make flexbox work</h3>
              <p>I kept trying over and over and shit just dont work fam</p>
              <p>tags: HTML, CSS, Flexbox</p>
            </div>
            <div class='question'>
              <h3>How do you make flexbox work</h3>
              <p>I kept trying over and over and shit just dont work fam</p>
              <p>tags: HTML, CSS, Flexbox</p>
            </div>
            <div class='question'>
              <h3>How do you make flexbox work</h3>
              <p>I kept trying over and over and shit just dont work fam</p>
              <p>tags: tags: tags: HTML, CSS, Flexbox</p>
            </div>
            <div class='question'>
              <h3>How do you make flexbox work</h3>
              <p>I kept trying over and over and shit just dont work fam</p>
              <p>tags: tags: HTML, CSS, Flexbox</p>
            </div>
            <div class='question'>
              <h3>How do you make flexbox work</h3>
              <p>I kept trying over and over and shit just dont work fam</p>
              <p>tags: HTML, CSS, Flexbox</p>
            </div>
          </div>
        </div>
        <div class='right-side'></div>
      </div>

    </div> <!-- page container -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="scripts.js"></script>

  </body>

</html>
